.sns-share{
margin: 10px auto;
width: 180px;
		height: 98px;
		background:url(../images/sns.PNG) no-repeat;
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                               