@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
body{ font-family:"微软雅黑"; font-size:16px; background-color:#f2f2f2; width:1440px; margin:0 auto; width:100%;}
a{ text-decoration:none; color:#000000;}
img,input,select,textarea{ vertical-align:middle;}
ul,ol{ list-style:none;}
a img{ border:none;}

.input-group {
	position:absolute;
	bottom:0;
	background-color: #00a2ff;
}
.chatromebox{
	background: url(background-beijing.png) no-repeat 0 0 fixed
}
.li {
	font-size: 18px;
}